body,
html {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(155, 209, 239);
  color: white;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(19, 75, 124);
}
h1{
  color: aliceblue;
  font-size: 3rem;
  text-align: center;
}
form {
  background-color: rgba(58, 113, 224, 0.5);
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 10rem;
}

button {
  margin-top: 8px;
  text-align: center;
}
#weatherInfo {
  padding-top: 30px;
}
.desc {
  font-size: 30px;
  padding: 8px;
}
.cit {
  border-top: 1px solid black;
  font-size: 50px;
  padding: 8px;
}
.deg {
  border-top: 1px solid black;
  font-size: 60px;
  padding: 8px;
}
#error {
  color: red;
}
